/* #region block */
#controls
{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 20px;
    border: 1px dashed #cecece;
}

#controls .button
{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #03A9F4;
    color: white;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

#controls .button:hover
{
    background-color: #01579B;
}

#controls .button:first-child
{
    margin: 0;
}

#controls .button .label
{
    margin: 0 0 0 10px;
}


#controls .spacer
{
    flex-grow: 1;
}

.block#information .header .message
{
    color: #1B5E20;
}

.block#information textarea
{
    min-height: 200px;
    resize: vertical;
}

.block#questions
{
    margin: 40px 0 0 0;
}

.block#questions > .placeholder
{
    margin: 40px 0 0 0;
    border: 1px dashed #cecece;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.block#questions > .placeholder .title
{
    font-size: 1.6em;
    flex-grow: 1;
}

.block#questions > .placeholder .container
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.block#questions > .placeholder .container .button
{
    background-color: #03A9F4;
    color: white;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.block#questions > .placeholder .container .button:hover
{
    background-color: #01579B;
}
/* #endregion */
/* #region question */
.block#questions .header a,
.block#questions .header span
{
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
    width: auto;
    min-width: 0;
    padding: 0;
    background-color: transparent;
    color: #03A9F4;
}

.block#questions .header label
{
    margin: 0 0 0 5px;
}

.block#questions .header input[type="radio"]
{
    margin: 0;
}

.block#questions .header input:not([type="radio"])
{
    border: 0;
    border-radius: 2px;
    padding: 10px;
    width: 50px;
}

.question
{
    margin: 20px 0 0 0;
}

.question:first-child
{
    margin: 0;
}

.question .options
{
    margin: 20px 0 0 0;
}

.question .filename
{
    width: 250px;
    margin: 0 0 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}

.question .filename:empty
{
    width: 0;
    margin: 0;
}

.question .input:first-child
{
    margin: 0;
}

.question .input
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.question .input label
{
    width: 100%;
    margin: 0 0 10px 0;
}

.question .input input
{
    width: auto;
    flex-grow: 1;
}

.question .input input[type="file"]
{
    display: none;
}

.question .input .icon
{
    cursor: pointer;
    border-radius: 2px;
    color: #03A9F4;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question .input .error
{
    width: 100%;
    margin: 10px 0 0 0;
    color: #B71C1C;
}

.question .placeholder
{
    margin: 20px 0 0 0;
    border: 1px dashed #cecece;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
}

.question .placeholder b
{
    cursor: pointer;
    color: #03A9F4;
    text-decoration: underline;
}

.question.q-grid .grid,
.question.q-multi-grid .grid,
.question.q-range .grid
{
    margin: 20px 0 0 0;
}
/* #endregion */

.question .footer .input
{
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    color: #03A9F4;
    cursor: pointer;
}

.question .footer .input:first-child
{
    margin: 0;
}

.question .footer .input input
{
    margin: 0;
    width: auto;
    cursor: pointer;
}

.question .footer .input label
{
    margin: 0 0 0 5px;
    width: auto;
    text-transform: none;
    color: #03A9F4;
    cursor: pointer;
}
