.page
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page .container
{
    background-color: white;
}

.page .container form
{
    margin: 40px;
}

.page .container form .logo
{
    font-size: 3em;
    text-align: center;
    color: #03A9F4;
    font-family: 'Lobster';
}

.page .container form .title
{
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 1.6em;
}

.page .container form .information
{
    margin: 5px 0 0 0;
    color: #B5B5B5;
    text-align: center;
}

.page .container form .information a
{
    color: #03A9F4;
    text-decoration: underline;
    cursor: pointer;
}

.page .container form .validation-summary-errors
{
    margin: 20px 0 0 0;
}

.page .container form .validation-summary-errors:empty
{
    margin: 0;
}

.page .container form .validation-summary-errors span
{
    margin: 20px 0 0 0;
    padding: 0;
    color: #B71C1C;
    list-style: none;
    text-align: center;
}

.page .container form .input
{
    margin: 20px 0 0 0;
}

.page .container form .submit
{
    display: flex;
    justify-content: center;
}

.page .container form .submit > div
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 0 20px;
    background-color: #03A9F4;
    color: white;
    border-radius: 2px;
    min-width: 120px;
    height: 45px;
}

.page .container form .submit > div:hover
{
    background-color: #01579B;
    color: white;
}

.page .container form .submit > div .label
{
    margin: 0 0 0 5px;
}

.page .container .social
{
    margin: 0 40px 40px 40px;
}

.page .container .social a,
.page .container .social a:visited
{
    text-decoration: none;
    color: inherit;
}

.page .container .social .title
{
    color: #B5B5B5;
    text-align: center;
}

.page .container .social .buttons
{
    display: flex;
}

.page .container .social .buttons a
{
    margin: 20px 0 0 20px;
}

.page .container .social .buttons .item
{
    display: flex;
    align-items: center;
    color: white;
    background-color: #03A9F4;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.page .container .social .buttons a:first-child
{
    margin: 20px 0 0 0;
}

.page .container .social .buttons .item .icon
{
    margin: 0 5px 0 0;
}

.page .container .social .buttons .item:hover
{
    border: 1px solid #01579B;
    background-color: #01579B;
    color: white;
}
