.block#description
{
    margin: 20px 0 0 0;
    background-color: white;
}

.block#description .information
{
    margin: 20px 0 0 0;
    padding: 20px;
    border: 1px dashed #cecece;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.block#description .information .item
{
    display: flex;
    align-items: center;
}

.block#description .information .item .label
{
    text-transform: uppercase;
    color: #b2b2b2;
}

.block#description .information .item .value
{
    padding: 0 0 0 10px;
}
/*************************************************************************/
#controls
{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 20px;
    border: 1px dashed #cecece;
}

#controls .button
{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #03A9F4;
    color: white;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

#controls .button:hover
{
    background-color: #01579B;
}

#controls .button:first-child
{
    margin: 0;
}

#controls .button .label
{
    margin: 0 0 0 10px;
}


#controls .spacer
{
    flex-grow: 1;
}
/*************************************************************************/
#questions .question
{
    margin: 20px 0 0 0;
    background-color: white;
}

#questions .question .header
{
    padding: 20px;
    min-height: 34px;
    text-align: justify;
}

#questions .question .title .index
{
    color: #cecece;
}

#questions .question .title .required
{
    color: #B71C1C;
}

#questions .question .image
{
    margin: 20px 0 0 0;
    text-align: justify;
}

#questions .question .image:empty
{
    margin: 0;
}

#questions .question .image img
{
    cursor: pointer;
    max-width: 100%;
    max-height: 300px;
}

#questions .question .input
{
    margin: 20px 0 0 0;
}

#questions .question .input:first-child
{
    margin: 0;
}

/***********************************/
#questions .question.q-choice .input,
#questions .question.q-multi-choice .input,
#questions .question.q-select .input
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#questions .question.q-choice .input input,
#questions .question.q-multi-choice .input input,
#questions .question.q-select .input input,
#questions .question.q-select .input select
{
    margin: 10px 0 0 0;
}

#questions .question.q-choice .input input[type="radio"],
#questions .question.q-multi-choice .input input[type="checkbox"],
#questions .question.q-select .input input[type=radio]
{
    width: auto;
    margin: 0;
}

#questions .question.q-choice .input label,
#questions .question.q-multi-choice .input label,
#questions .question.q-select .input label
{
    color: black;
    margin: 0 0 0 10px;
    text-transform: none;
}

#questions .question table
{
    border: 0;
    width: 100%;
}

#questions .question table thead td
{
    background-color: #E1F5FE;
}

#questions .question table tbody tr:hover
{
    background-color: #E1F5FE;
}

#questions .question table tbody tr:last-child td
{
    border-bottom: 0;
}

#questions .question table td
{
    padding: 10px;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
}

#questions .question table td:first-child
{
    border-left: 0;
}

#questions .question table td.center
{
    text-align: center;
}
/******************************************************/
#questions .question.q-range .options
{
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#questions .question.q-range .options .label.item
{
    font-weight: bold;
}

#questions .question.q-range .options div
{
    margin: 0;
    width: auto;
    display: flex;
    justify-content: center;
}

#questions .question.q-range .options input
{
    margin: 0;
}

#questions .question.q-range .options .line
{
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    border: 2px solid #cecece;
    z-index: -1;
}

#questions .question .error
{
    display: block;
    margin: 20px 0 0 0;
    color: #B71C1C;
}

#questions .question .error:empty
{
    margin: 0;
}
/********************************************************/
.submit
{
    margin: 20px 0;
    padding: 20px;
    border: 1px dashed #cecece;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.submit .title
{
    font-size: 1.6em;
}

.submit .spacer
{
    flex-grow: 1;
}

.submit .button
{
    background-color: #03A9F4;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.1s all ease-in-out;
    cursor: pointer;
}

.submit .button:hover
{
    background-color: #01579B;
}

.submit .button .label
{
    margin: 0 0 0 10px;
}
