@model GenericViewModel<EditKeyViewModel>
@if (Model.Section == "template")
{
    <div :id="id" class="dialog hidden">
        <form>
            <div class="title">Зміна ключа API</div>
            <div class="body">
                <div class="input">
                    <div class="label">Назва </div>
                    <input vue-for="Data.Name" v-model="key.name" />
                    <span class="error" vue-validation-for="Data.Name"></span>
                </div>
                <div class="input">
                    <div class="label">Тип додатку</div>
                    <select vue-for="Data.TypeId" v-model="key.type.id">
                        <option v-for="type in types" :value="type.id">
                            {{ type.name.toUpperCase() }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="controls">
                <button class="submit" type="button" v-on:click="OnSubmitDialog">Зберегти</button>
                <button class="cancel" type="button" v-on:click="OnHideDialog">Назад</button>
            </div>
        </form>
    </div>
}
else
{
    <script type="text/javascript">
        Vue.component("edit-key-dialog", {
            template: "#edit-key-dialog-template",
            data: () => {
                return {
                    id: "edit-key-dialog",
                    key: {
                        id: 0,
                        name: "",
                        type: {
                            id: 1
                        }
                    },
                    originalKey: null,
                    types: []
                }
            },
            created: function () {
                this.types = this.$parent.keyTypes;
            },
            mounted: function () {
                events.$on("ShowEditKeyDialog", this.OnShowDialog);
            },
            methods: {
                OnShowDialog: function (key) {
                    this.originalKey = key;
                    this.key.name = key.name;
                    this.key.type.id = key.type.id;
                    this.key.id = key.id;
                    ShowDialog(this.id);
                },
                OnHideDialog: function () {
                    HideDialog(this.id);
                },
                OnSubmitDialog: function (event) {
                    const self = this;
                    var form = $(`#${this.id} form`);
                    var data = {
                        Name: this.key.name,
                        Type: {
                            Id: this.key.type.id
                        }
                    };
                    if (form.valid()) {
                        $.ajax({
                            url: `/api/keys/${this.key.id}`,
                            method: "PUT",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (response) {
                                HideDialog("edit-key-dialog");
                                self.originalKey.name = self.key.name;
                                self.originalKey.typeId = self.key.typeId;
                                for (var i = 0; i < self.types.length; i++) {
                                    if (self.types[i].id == self.originalKey.typeId) {
                                        self.originalKey.type = self.types[i].name;
                                    }
                                }
                            }
                        });
                    }
                }

            }
        });
    </script>
}