@if (Model.Section == "template")
{
    <div class="options">
        <div class="input" v-for="option in options">
            <input type="checkbox" v-model="answer" :value="option.id"
                   :name="`question[${ $parent.key }].option[${ option.key }]`"
                   :id="`question[${ $parent.key }].option[${ option.key }]`" />
            <label :for="`question[${ $parent.key }].option[${ option.key }]`">{{ option.label }}</label>
        </div>
        <div v-if="other != null" class="input">
            <input type="checkbox" v-model="answer" :value="other.id"
                   :name="`question[${ $parent.key }].other`"
                   :id="`question[${ $parent.key }].other`" />
            <label :for="`question[${ $parent.key }].other`">{{ other.label }}</label>
            <input type="text" :name="`question[${ $parent.key }].other.answer`" v-model="other.answer" v-if="answer.includes(other.id)" v-validate="'required'" />
            <span v-show="errors.has(`question[${ $parent.key }].other.answer`) && answer.includes(other.id)" class="error">
                {{ errors.first(`question[${ $parent.key }].other.answer`) }}
            </span>
        </div>
        <input type="hidden" :name="`question[${ $parent.key }]`" v-model="answer" v-validate="$parent.isRequired == true ? 'question_required|required' : ''" />
    </div>
}
else
{
    <script id="q-multi-choice-script" type="text/javascript">
        Vue.component("q-multi-choice", {
            template: "#q-multi-choice-template",
            props: ["element"],
            inject: ["$validator"],
            data: () => {
                return {
                    options: [],
                    other: null,
                    answer: []
                };
            },
            created: function () {
                if (this.element) {
                    for (var i = 0; i < this.element.options.length; i++) {
                        var o = this.element.options[i];
                        if (o.isCustom != true) {
                            this.options.push(new Choice(
                                i,
                                o.id,
                                o.label,
                                o.value,
                                o.image
                            ));
                        } else {
                            this.other = {
                                id: o.id,
                                label: o.label,
                                answer: ""
                            }
                        }
                    }
                }
            },
            computed: {
                result: function () {
                    var result = [];

                    for (var i = 0; i < this.answer.length; i++) {
                        if (this.answer[i] != this.other.id && this.answer[i]) {
                            result.push(new Answer(
                                null,
                                null,
                                this.answer[i],
                                this.element.id,
                                application.user.id
                            ));
                        }
                    }
                    if (this.other.answer) {
                        result.push(new Answer(
                            null,
                            this.other.answer,
                            this.other.id,
                            this.element.id,
                            application.user.id
                        ));
                    }

                    return result;
                }
            }
        });
    </script>
}
