@if (Model.Section == "template")
{
    <div class="input">
        <label>Ваша відповідь:</label>
        <input type="time" class="shadowed" v-model="answer" v-validate="$parent.isRequired == true ?'question_required|required' : ''"
               :name="`question[${ $parent.key }]`" />
    </div>
}
else
{
    <script id="q-time-script" type="text/javascript">
        Vue.component("q-time", {
            template: "#q-time-template",
            props: ["element"],
            inject: ["$validator"],
            data: () => {
                return {
                    answer: null
                };
            },
            computed: {
                result: function () {
                    var result = [];

                    if (this.answer != null) {
                        result.push(new Answer(
                            null,
                            this.answer,
                            null,
                            this.element.id,
                            application.user.id
                        ));
                    } else {
                        result = null;
                    }

                    return result;
                }
            }
        });
    </script>
}
