.block#activity-log-component .content .placeholder
{
    border: 1px dashed #03A9F4;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block#activity-log-component .content .placeholder .icon
{
    font-size: 48px;
    color: #03A9F4;
    margin: 0 0 10px 0;
}

.block#activity-log-component .content .container
{
    display: block;
    margin: 0;
}

.block#activity-log-component .content .container .item
{
    margin: 10px 0 0 0;
    border: 1px dashed #03A9F4;
    padding: 10px;
}

.block#activity-log-component .content .container .item:first-child
{
    margin: 0;
}

.block#activity-log-component .content .container .item .top
{
    display: flex;
    align-items: center;
}

.block#activity-log-component .content .container .item .top .status
{
    margin: 0 10px 0 0;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #B71C1C;
    color: white;
    text-transform: uppercase;
}

.block#activity-log-component .content .container .item .top .status.success
{
    background-color: #1B5E20;
}

.block#activity-log-component .content .container .item .top .key
{
    font-weight: bold;
}

.block#activity-log-component .content .container .item .top .key i
{
    color: #a8a8a8;
    font-weight: normal;
    font-style: normal;
}

.block#activity-log-component .content .container .item .text
{
    margin: 10px 0;
}

.block#activity-log-component .content .container .item .bottom
{
    display: flex;
    
}

.block#activity-log-component .content .container .item .bottom .spacer
{
    flex-grow: 1;
}

.block#activity-log-component .content .container .item .bottom .group
{
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
}

.block#activity-log-component .content .container .item .bottom .group:first-child
{
    margin: 0;
}

.block#activity-log-component .content .container .item .bottom .group .icon
{
    color: #cecece;
    margin: 0 5px 0 0;
}

/**************************************************************************************************/
.block#key-list-component .content .item
{
    border: 1px solid #03A9F4;
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 2px;
}

.block#key-list-component .content .item:first-child
{
    margin: 0;
}

.block#key-list-component .content .item > div:first-child
{
    display: flex;
}

.block#key-list-component .content .item > div:first-child .spacer
{
    flex-grow: 1;
}

.block#key-list-component .content .item .type
{
    width: 60px;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 5px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #8C8C8C;
    text-transform: uppercase;
}

.block#key-list-component .content .item .type.web
{
    background-color: #1B5E20;
}

.block#key-list-component .content .item .type.mobile
{
    background-color: #01579B;
}

.block#key-list-component .content .item .name
{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 1.6em;
}

.block#key-list-component .content .item .value
{
    margin: 10px 0 0 0;
    flex-grow: 2;
    word-break: break-all;
}

.block#key-list-component .content .item .icon
{
    cursor: pointer;
    color: #03A9F4;
}

.block#key-list-component .content .item .icon:hover
{
    color: #01579B;
}

.block#key-list-component .content .placeholder
{
    border: 1px dashed #03A9F4;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block#key-list-component .content .placeholder .icon
{
    font-size: 48px;
    color: #03A9F4;
    margin: 0 0 10px 0;
}
