@{
    ViewBag.Title = "Реєстрація | Inquirer";
    ViewBag.Stylesheets = new[] { "register.css" };
}
<div class="page">
    <div class="container shadowed">
        <form class="form">
            <div class="logo">Inquirer</div>
            <div class="title">Реєстрація</div>
            <div class="information">
                У Вас вже є аккаунт? Ви можете <a href="/account/login">увійти тут</a>.
            </div>
            <div id="validation-errors">
                <span v-for="e in errors" v-if="e.field='model'" class="error">{{ e.msg }}</span>
            </div>
            <div class="input">
                <label for="email">Email:</label>
                <input class="shadowed" name="email" type="text" v-model="email" v-validate="'required|email'" />
                <span v-show="errors.has('email')" class="error">{{ errors.first('email') }}</span>
            </div>
            <div class="input">
                <label for="password">Пароль:</label>
                <input class="shadowed" name="password" type="password" v-model="password" v-validate="'required'" />
                <span v-show="errors.has('password')" class="error">{{ errors.first('password') }}</span>
            </div>
            <div class="input">
                <label for="name">Повне ім'я:</label>
                <input class="shadowed" name="name" type="text" v-model="name" v-validate="'required'" />
                <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
            </div>
            <div class="submit">
                <div class="shadowed" v-on:click="OnRegisterClicked">
                    <div class="icon">launch</div>
                    <div class="label">зареєструватися</div>
                </div>
            </div>
        </form>
        <div class="social">
            <div class="title">Чи увійдіть через:</div>
            <div class="buttons">
                <a>
                    <div class="item">
                        <div class="icon">fingerprint</div>
                        <div class="label">Google</div>
                    </div>
                </a>
                <a>
                    <div class="item">
                        <div class="icon">fingerprint</div>
                        <div class="label">Facebook</div>
                    </div>
                </a>
                <a>
                    <div class="item">
                        <div class="icon">fingerprint</div>
                        <div class="label">Microsoft</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>