@if (Model.Section == "template")
{
    <div :id="id" class="hidden">
        <div class="panel">
            <div class="text">
                <div class="name">{{ user.name }}</div>
                <div class="email">{{ user.email }}</div>
            </div>
            <img v-if="this.user.image.length > 0" class="image" :src="this.user.image" />
            <div v-else class="image">
                <div class="icon">person</div>
            </div>
        </div>
        <svg width="24" height="12" viewBox="0 0 24 12">
            <polyline points="0,12 12,0 24,12" style="fill: #FFFFFF;"></polyline>
        </svg>
    </div>
}
else
{
    <script id="c-account-panel-script" type="text/javascript">
        Vue.component("c-account-panel", {
            template: "#c-account-panel-template",
            data: () => {
                return {
                    id: "c-account-panel",
                    user: {
                        name: "John",
                        email: "john.doe@email.com",
                        image: ""
                    }
                }
            },
            created: function () {
                events.$on("ShowAccountPanel", this.OnShow);
                events.$on("HideAccountPanel", this.OnHide);
            },
            mounted: function () {
                var self = this;

                this.user.id = this.$parent.user.id;
                this.user.name = this.$parent.user.name;
                this.user.email = this.$parent.user.email;

                var data = {
                    Url: `accounts/${this.user.id}/image`,
                    Method: "GET",
                    Data: null
                };

                $.ajax({
                    url: "/api/call",
                    method: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (data) {
                        if (data.isSuccessfull) {
                            self.user.image = data.content.image;
                        }
                    }
                });
            },
            methods: {
                OnShow: function () {
                    $(`#${this.id}`).removeClass("hidden");
                },
                OnHide: function () {
                    $(`#${this.id}`).addClass("hidden");
                }
            }
        });
    </script>
}