@if (Model.Section == "template")
{
    <div :id="id" class="dialog hidden">
        <div class="container shadowed">
            <form class="form">
                <div class="title">{{ message }}</div>
                <div class="information">
                    <template v-if="action == 'login'">
                        Немає аккаунту? Ви можете
                        <span v-on:click="action = 'register'">зареєструватися тут</span>.
                    </template>
                    <template v-else>
                        У Вас вже є аккаунт? Ви можете
                        <span v-on:click="action = 'login'">увійти тут</span>.
                    </template>
                </div>
                <div class="validation-summary-errors">
                    <span v-for="e in errors.items" v-if="e.field == 'model'" class="error">{{ e.msg }}</span>
                </div>
                <div class="input">
                    <label for="email">E-mail:</label>
                    <input class="shadowed" name="email" type="text" v-model="data.email" v-validate="'required|email'" />
                    <span v-show="errors.has('email')" class="error">{{ errors.first('email') }}</span>
                </div>
                <div class="input">
                    <label for="password">Пароль:</label>
                    <input class="shadowed" name="password" type="password" v-model="data.password" v-validate="'required'" />
                    <span v-show="errors.has('password')" class="error">{{ errors.first('password') }}</span>
                </div>
                <div class="input" v-if="action == 'register'">
                    <label for="password">Повне ім'я:</label>
                    <input class="shadowed" name="name" type="text" v-model="data.name" v-validate="'required'" />
                    <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
                </div>
            </form>
            <div class="controls">
                <div class="button shadowed" v-on:click="OnSubmitClicked">
                    <div class="icon">lock_open</div>
                    <div class="label">{{ action == "login" ? "Вхід" : "Реєстрація" }}</div>
                </div>
                <div class="button shadowed" v-on:click="HideDialog">
                    <div class="icon">clear</div>
                    <div class="label">Закрити</div>
                </div>
            </div>
            <div class="social">
                <div class="title">Чи увійдіть через:</div>
                <div class="controls">
                    <div class="button shadowed">
                        <div class="icon">fingerprint</div>
                        <div class="label">Google</div>
                    </div>
                    <div class="button shadowed">
                        <div class="icon">fingerprint</div>
                        <div class="label">Facebook</div>
                    </div>
                    <div class="button shadowed">
                        <div class="icon">fingerprint</div>
                        <div class="label">Microsoft</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script id="c-login-panel-script" type="text/javascript">
        Vue.component("c-login-dialog", {
            template: "#c-login-dialog-template",
            inject: ["$validator"],
            data: () => {
                return {
                    id: "c-login-dialog",
                    message: "",
                    callback: null,
                    action: "login",
                    data: {
                        email: "",
                        password: "",
                        name: ""
                    }
                }
            },
            created: function () {
                events.$on("Authorize", this.OnAuthorize);
            },
            methods: {
                OnAuthorize: function (data) {
                    this.message = data.message;
                    this.callback = data.callback;
                    this.ShowDialog();
                },
                ShowDialog: function () {
                    $(`#${this.id}`).removeClass("hidden");
                },
                HideDialog: function () {
                    this.action = "login";
                    this.message = "";
                    this.callback = null;
                    this.email = "";
                    this.password = "";
                    this.name = "";
                    $(`#${this.id}`).addClass("hidden");
                },
                OnSubmitClicked: function () {
                    if (this.action == "login") {
                        this.OnLoginClicked();
                    } else {
                        this.OnRegisterClicked();
                    }
                },
                OnLoginClicked: async function () {
                    await form.validate();
                    if (!form.valid) {
                        return;
                    }

                    var data = {
                        email: this.data.email,
                        password: this.data.password
                    };

                    var response = await $.ajax({
                        url: "/account/login",
                        method: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json"
                    });

                    if (response.isSuccessfull) {
                        application.user = response.content;
                        if (this.callback) {
                            await this.callback();
                            this.HideDialog();
                        }
                    } else {
                        for (var i = 0; i < response.errors.length; i++) {
                            this.$validator.errors.add(response.errors[i].field, response.errors[i].msg, "server");
                        }
                    }
                },
                OnRegisterClicked: async function () {
                    await form.validate();
                    if (!form.valid) {
                        return;
                    }

                    var data = {
                        email: this.data.email,
                        password: this.data.password,
                        name: this.data.name
                    };

                    var response = await $.ajax({
                        url: "/account/register",
                        method: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json"
                    });

                    if (response.isSuccessfull) {
                        application.user = response.content;
                        if (this.callback) {
                            await this.callback();
                            this.HideDialog();
                        }
                    } else {
                        for (var i = 0; i < response.errors.length; i++) {
                            this.$validator.errors.add(response.errors[i].field, response.errors[i].msg, "server");
                        }
                    }
                }
            }
        });
    </script>
}